<div class="container contenedor" >
  <h3>Componente hijo</h3>
  <div #divMensaje id="message">{{messageParent }}</div><!--muestra la prop message traida del padre-->

  <hr>
  <button class="btn btn-outline-primary btn-lg m-3" (click)="setMessageByService()" >Use Service</button>
  <button class="btn btn-outline-warning btn-lg m-3"(click)="setMessageEmit()" >Use Output Event</button>
  <button class="btn btn-outline-danger btn-lg m-3" (click)="setMessageByObs()" >Use Observable</button>
</div>
