
  <table class="table">

    <thead class="thead-dark">
      <tr>
        <th scope="col" >Nombre de Usuario</th>
        <th scope="col" >Correo</th>
        <th scope="col" >Suscrito</th>
        <th scope="col" >País</th>
        <th scope="col" >Ciudad</th>
        <th scope="col" >Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" >
        <td> {{ user.name }} </td>
        <td> {{ user.email }} </td>
        <td>
          <span *ngIf="user.suscription; else noSubscriptionContent">
            <i class="fas fa-check"></i>
          </span>
          <ng-template #noSubscriptionContent></ng-template>
        </td>
        <td> {{ user.country }} </td>
        <td> {{ user.city }} </td>
        <td> <i class="fas fa-pencil-alt"></i><i class="fas fa-trash-alt"></i></td>
      </tr>
    </tbody>

  </table>


