<h4>Formulario de registro</h4>

  <form action="" class="col">

    <!-- Name -->
    <div class="mb-3 col">
      <label class="col-sm-9 col-form-label" for="">Nombre de usuario</label>
      <input class="col-sm-9" type="text">
      <span class="form-text text-danger" ></span>
    </div>

    <!-- Password -->
    <div class="mb-3 col">
      <label class="col-sm-9 col-form-label" for="">Contraseña</label>
      <input class="col-sm-9" type="text" >
      <span class="form-text text-danger" ></span>
    </div>

    <!-- Password2 -->
    <div class="mb-3 col">
      <label class="col-sm-9 col-form-label" for="">Confirma la Contraseña</label>
      <input class="col-sm-9" type="text" >
      <span class="form-text text-danger" ></span>
    </div>

    <!-- Email -->
    <div class="mb-3 col">
      <label class="col-sm-9 col-form-label" for="">Correo</label>
      <input class="col-sm-9" type="text" >
      <span class="form-text text-danger" ></span>
    </div>

    <!-- Nombre -->
    <div class="mb-3 col form-check">
      <input class="form-check-input"
      type="checkbox"
      id="flexCheckDefault"
      formControlName="ofertas">
      <label class="form-check-label" for="flexCheckDefault">
        Envíame ofertas promocionales
      </label>
    </div>

    <!-- Email -->
    <div class="mb-3 col">
      <label class="col-sm-9 col-form-label" for="">País</label>
      <!-- <input class="col-sm-9" type="text" > -->
      <span class="form-text text-danger" ></span>
    </div>

    <!-- Ciudad -->
    <div class="mb-3 col">
      <label class="col-sm-9 col-form-label" for="">Ciudad</label>
      <input class="col-sm-9" type="text" >
      <span class="form-text text-danger" ></span>
    </div>

  </form>


