<ul class="list-group">

  <li
    class="list-group-item"
    routerLink="display"
    routerLinkActive="active"
  >Display Hello World</li>

  <li class="list-group-item"
    routerLink="communication"
    routerLinkActive="active"
  >Components communitation</li>

  <li class="list-group-item"
    routerLink="crud"
    routerLinkActive="active"
  >CRUD</li>

  <li class="list-group-item"
  routerLink="university"
  routerLinkActive="active"
  >Buscar Universidades</li>

  <li class="list-group-item"
  routerLink="lightSwitch"
  routerLinkActive="active"
  >Semáforo</li>

</ul>
