<h5>Controlador</h5>

<div class="col-12">

  <select name="color" id="color" [(ngModel)]="selectedColor" >
    <option *ngFor="let color of opcionesColores" [value]="color" >{{ color }}</option>
  </select>

  <span class="espaciador"></span>

  <input type="checkbox" [(ngModel)]="isOn" (change)="onCheckboxChange()">
  <label [ngClass]="{'bold-text': isOn, 'normal-text': !isOn}" for="">Encendido</label>/
  <label [ngClass]="{'bold-text': !isOn, 'normal-text': isOn}" for="">Apagado</label>


</div>
